# Nest Camera Integration (Google SDM API)
FRIGATE_NEST_OAUTH_CLIENT_ID=
FRIGATE_NEST_OAUTH_CLIENT_SECRET=
FRIGATE_NEST_DEVICE_REFRESH_TOKEN=
FRIGATE_NEST_DEVICE_ACCESS_PROJECT_ID=
FRIGATE_NEST_CAM_NORTH_ID=
FRIGATE_NEST_CAM_SOUTH_ID=
FRIGATE_NEST_CAM_ENTRANCE_ID=
